[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
myst-parser = "*"

[packages]
pandas = "*"
pyproj = "*"
dataclasses = "*"
dataclass-dict-convert = "*"
stringcase = "*"
simplekml = "*"
rtree = "*"

[requires]
python_version = "3.8"
